-#  This file is app/views/movies/index.html.haml
%h1 All Movies
= form_tag movies_path, :method => :get do
  Include: 
  - @all_ratings.each do |rating, ischecked|
    = rating
    -#= check_box_tag "ratings[#{rating}]"
    %input{:type=>"checkbox", :name=>"ratings[#{rating}]", :value=>1, :checked=>ischecked}
  %input{:type=>"hidden", :name=>"sortby", :value=>@usersortby }
  = submit_tag('Refresh', :id=>'rating_submit')
%table#movies
  %thead
    %tr
      %th{:class => @hilite == 'title' ? "hilite": ""}= link_to 'Movie Title', {:controller=>'movies', action:'index', :sortby=>'title', :ratings => @userratings}, {:id=>'title_header'}
      %th Rating
      %th{:class => @hilite == 'release_date' ? "hilite": ""}= link_to 'Release Date', {:controller=>'movies', action:'index', :sortby=>'release_date', :ratings => @userratings}, :id=>'release_date_header'
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
